// Spin

.spin {
	animation: spin 2s infinite;
}

.pulse {
	animation: pulse 2s linear infinite;
}

.slide-right {
	right: -10000px;
	animation-delay: 2s;
	animation: slide-from-left 2s forwards;
}

.slide-left {
	left: -10000px;
	animation-delay: 2s;
	animation: slide-from-right 2s forwards;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes slide-from-left {
	100% {
		left: 50%;
	}
}

@keyframes slide-from-right {
	100% {
		right: 50%;
	}
}
