// Spin

.spin {
	animation: spin 2s infinite;
}

.pulse {
	animation: pulse 2s infinite;
}

.slide-right {
	right: -10000px;
	animation-delay: 2s;
	animation: slide-from-left 2s forwards;
}

.slide-left {
	left: -10000px;
	animation-delay: 2s;
	animation: slide-from-right 2s forwards;
}

.slide-out-left {
	animation-delay: 0s;
	animation: slide-to-left 4s forwards;
}

.slide-out-right {
	animation-delay: 0s;
	animation: slide-to-right 4s forwards;
}

.slide-down {
	top: -22px;
	opacity: 0;
	animation: slide-from-top 1s forwards;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes slide-from-left {
	100% {
		left: 50%;
	}
}

@keyframes slide-to-left {
	100% {
		margin-left: -10000px;
	}
}

@keyframes slide-from-right {
	100% {
		right: 50%;
	}
}

@keyframes slide-to-right {
	100% {
		margin-right: -10000px;
	}
}

@keyframes slide-from-top {
	100% {
		top: 0px;
		opacity: 1;
	}
}
