// Borders

.radius {
	&-25p {
		border-radius: 25px;
	}

	&-50p {
		border-radius: 50px;
	}

	&-70p {
		border-radius: 70px;
	}
}

.bor {
	&-white-thin {
		border: 1px solid white;
	}
	&-black-thin {
		border: 1px solid black;
	}
	&-silver-thin {
		border: 1px solid silver;
	}
}

// Backgrounds

.black-hex-bg {
	background-image: url('../Assets/blackbackground.jpg');
	background-size: cover;
}
