// Width
.w-fit {
	width: fit-content;
}

.w-100 {
	width: 100%;
}

// Height
.h-fit {
	height: fit-content;
}

.h-20p {
	height: 20px;
}

.h-30p {
	height: 30px;
}

.h-100p {
	height: 100px;
}

.h-100 {
	height: 100%;
}

// Padding
.pad-0 {
	padding: 0;
}

// Margin
.margin-0 {
	margin: 0;
}

.margin-auto {
	margin: auto;
}

.margin-0auto {
	margin: 0 auto;
}

.margin-auto0 {
	margin: auto 0;
}

.margin-left-auto {
	margin-left: auto;
}

.margin-right-auto {
	margin-right: auto;
}

// Text Align
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

// flex
.flex {
	display: flex;

	&.flex-col {
		flex-direction: column;
	}

	&.just-center {
		justify-content: center;
	}

	&.just-even {
		justify-content: space-evenly;
	}

	&.align-center {
		align-items: center;
	}
}
